.git
.svn
_svn
.CVS
.arch-params
.bzr
_darcs
.hg
.monotone
.svn
_svn
.DS_Store
__MACOSX
.settings
.buildpath
.project
.idea/
.cache
nbproject
*.komodoproject
/.netbeans/
catalog.xml
*.psd
*~
.htpasswd
src/AppBundle/Propel/map
src/AppBundle/Propel/om
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
bin/propel-gen*
/app/coverage
/app/spool/*
/app/phpunit.xml
/app/propel/sql/*
/app/propel/migrations/*
/build/
/data/
!bin/build.php
error.log
access.log